*{
    border: 0;
    padding:0;
}
body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    height:900 px;
}

main.contenedor {
    background: #227892;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 15% 60% auto;
    display: grid;
    grid-template-areas:        
        "header header header header"
        "nav nav nav nav"        
        "section section section section"        
        "footer footer footer footer";
     row-gap: 30px;
     }


header {
    grid-area: header;  
    background-color: rgba(185, 145, 165, 0.438);
    text-align: center;
    grid-gap: 5px;
    border: black 5px solid;

      }
.menu{
    grid-area:nav;
    grid-gap: 5px;
    border: black 5px solid;
   

}
section {grid-area: section; 
    display: grid;
    grid-template-columns: 70% 28%;
    grid-gap: 5px;
    }

aside  {grid-area: aside;   }
footer  {grid-area: footer;    }

.menu ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.menu li {
    display: inline;

    }
.menu a {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 96%;
    background-color:rgba(185, 145, 165, 0.438);
    border-style: solid;
    border: coral;
    color: #fff;
    grid-gap: 5px;

   
    }

.menu li a:hover {
    background-color: rgb(187, 177, 36);
    margin-top: -2;
    padding-bottom: 12px;
    }

.tipos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    border: black 5px solid;
    display: grid;
    }
.tipos_item {
    background: grey;
    text-align: center;
    border: black 5px solid;
    width: 100px;
    height: 100px;
    grid-gap: 5px;
}
.cesta{
    border: black 5px solid;
    display: grid;
    grid-gap: 5px;
}

.cesta table th {background-color: grey; }
.cesta table tr:nth-child(odd) {background-color: rgb(95, 163, 168);}

.cesta table button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0.3em 0.3em 0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#0f4d55;
    text-align:center;
    transition: all 0.2s;

}

.cesta table button:hover{
    color:#000000;
    background-color:#88a2b8;
    }
